@media (min-width: 1600px) {
    .layout {
        min-width: 1600px;
    }

    .layout__menu {
        padding: 5rem 9.5rem;
    }

    .layout__banner {
        min-height: 85rem;
        margin: 0 9.5rem;
        padding: 25rem 0 30rem 20rem;
    }

    .services__service {
        padding: 7rem 5rem;
    }
}

@media (width < 1500px) {

    /* .services__grid,
    .projects__grid,
    .contact__container,
    .stats__container,*/
    .reviews__grid,
    .clients__container,
    .news__container {
        max-width: 100%;
        padding: 0 3rem;
    }

    .projects__all {
        gap: 3rem;
    }
}

@media (width < 1200px) {
    .layout {
        min-width: 992px;
    }

    .nav__item {
        margin: 0 2rem;
    }

    .banner__title {
        font-size: 6rem;
    }

    .layout__services {
        margin: 10rem 7rem;
        margin-bottom: 0;
    }

    /* .services__grid,
    .projects__grid,
    .contact__container,
    .stats__container,*/
    .reviews__grid,
    .clients__container,
    .news__container,
    .footer__container {
        max-width: 96rem;
    }

    .services__service {
        padding: 4rem 1.5rem;
    }

    .service__container-img {
        max-width: 6rem;
    }

    .projects__all {
        gap: 3rem;
    }

    .layout__stats,
    .layout__clients {
        padding: 10rem 7rem;
    }

    .clients__title {
        width: 70%;
    }

    .clients__description {
        width: 60%;
    }

    .layout__news {
        padding: 10rem 0;
    }

    .news__list {
        display: flex;
        flex-direction: column;
        padding: 0 3rem;
    }

    .news__new:last-child {
        border-left: none;
        padding-left: 0;
    }

    .layout__contact {
        padding: 10rem 0 7rem 0;
    }

    .menu-mobile {
        visibility: visible;
    }

    .fleft__subtitle {
        text-align: center;
    }
}

@media (width < 1000px) {
    .layout {
        min-width: auto;
    }

    .layout__menu {
        padding: 5rem 3rem;
    }

    .navbar__nav {
        display: none;
    }

    .navbar__mobile-btn {
        display: block;
        cursor: pointer;
    }

    .layout__banner {
        min-height: 100%;
        margin: 0 3rem;
    }

    .banner__content {
        width: 65%;
    }

    .banner__title {
        font-size: 5rem;
    }

    .banner__btn {
        padding: 2rem 3.5rem;
    }

    .shapes__item {
        width: 50%;
    }

    /* .services__grid,
    .projects__grid,
    .contact__container,
    .stats__container,*/
    .reviews__grid,
    .clients__container,
    .news__container,
    .footer__container {
        max-width: 72rem;
    }

    .services__subtitle,
    .projects__subtitle,
    .stats__subtitle,
    .reviews__subtitle,
    .clients__subtitle,
    .contact__subtitle,
    .news__subtitle {
        font-size: 1.8rem;
    }

    .services__title,
    .projects__title,
    .stats__title,
    .reviews__title,
    .news__title,
    .contact__title {
        font-size: 5rem;
    }

    .layout__services {
        padding-bottom: 4rem;
    }

    .services__list {
        flex-direction: column;
    }

    .services__service {
        width: 95%;
        margin: 1rem 0 3rem 0;
        padding: 4rem 2.5rem;
    }

    .service-shapes--shape2 {
        display: none;
        top: 10%;
        left: 52%;
    }

    .layout__projects {
        padding: 8rem 4rem;
    }

    .project-shapes--shape2 {
        display: none;
    }

    .layout__stats,
    .layout__clients {
        padding: 8rem 5rem;
    }

    .stats__description,
    .clients__description {
        font-size: 1.7rem;
        width: 100%;
    }

    .stats__progress {
        flex-wrap: wrap;
    }

    .stats__stat {
        width: calc(50% - 1.5rem);
    }

    .layout__reviews {
        padding: 8rem 0 5rem 0;
    }

    .reviews__description,
    .news__description {
        width: 100%;
        font-size: 1.7rem;
    }

    .reviews__container {
        flex-direction: column;
    }

    .clients__title {
        width: 100%;
        font-size: 5rem;
    }

    .clients__logos {
        flex-wrap: wrap;
    }

    .clients__item {
        width: calc(50% - 3rem);
    }

    .layout__news {
        padding: 8rem 0;
    }

    .layout__contact {
        padding: 8rem 0 4rem 0;

        &::before {
            height: 60rem;
        }
    }

    .contact__title {
        width: 100%;
    }

    .contact__btn {
        padding: 1.8rem 3.5rem;
    }

    .contact__thumb--chat {
        margin: 0 -33rem -0.8rem 0;
        width: 70%;
    }

    .contact__thumb--laptop {
        bottom: 0;
        left: 0;
    }

    .contact__thumb--mobile {
        bottom: 0;
        right: -8rem;
    }

    .contact__img {
        width: 70%;
    }

    .social__img {
        font-size: 2rem;
    }

    .footer__main {
        display: flex;
        flex-direction: column;
    }

    .footer__fleft, .footer__fright {
        width: 100%;
        padding: 0;
    }

    .footer__fright {
        margin-top: 10rem;
    }

    .footer__bottom {
        flex-direction: column;
    }

    .footer__copyright {
        flex-basis: auto;
        text-align: center;
        display: block;
        margin-bottom: 1rem;
    }

    .footer__links {
        flex-basis: auto;
        text-align: center;
    }


    .footer__flinks {
        justify-content: center;
    }

    .menu__navbar--fixed {
        padding: 1.5rem 3rem;
    }
}

@media (width < 770px) {
    .layout__banner {
        margin: 0 3rem;
        padding: 8rem 3rem;
    }

    .banner__title {
        font-size: 4rem;
    }

    .layout__services {
        margin: 7rem;
    }

    /* .services__grid,
    .projects__grid,
    .contact__container,
    .stats__container,*/
    .reviews__grid,
    .clients__container,
    .news__container,
    .footer__container {
        max-width: 54rem;
    }

    .services__subtitle,
    .projects__subtitle,
    .stats__subtitle,
    .reviews__subtitle,
    .clients__subtitle,
    .contact__subtitle,
    .news__subtitle {
        font-size: 1.6rem;
    }

    .services__title,
    .projects__title,
    .stats__title,
    .reviews__title,
    .news__title,
    .contact__title {
        font-size: 5rem;
    }

    .layout__projects {
        padding: 6rem 5rem;
    }

    .projects__all {
        flex-direction: column;
    }

    .projects__project {
        width: 100%;
    }

    .layout__stats, .layout__clients {
        padding: 6rem 3rem;
    }

    .stat__count {
        font-size: 4.4rem;
    }

    .layout__reviews {
        padding: 6rem 0 3rem 0;
    }

    .reviews__review {
        padding: 2rem 0 3rem 0;
    }

    .layout__news {
        padding: 6rem 0;
    }

    .news__new {
        flex-direction: column;
    }

    .new__container-img {
        width: 100%;
    }

    .new__title {
        font-size: 2rem;
    }

    .new__img {
        width: 100%;
    }

    .layout__contact {
        padding: 6rem 0 4rem 0;

        &::before {
            height: 48rem;
        }
    }

    .contact__thumb--chat {
        margin: 0 -30rem -0.8rem 0;
        width: 50%;
    }

    .contact__thumb--laptop {
        bottom: 0;
        left: 12rem;
    }

    .contact__thumb--mobile {
        bottom: 0;
        right: -8rem;
    }

    .contact__img {
        width: 35%;
    }

    .fleft__container {
        padding-right: 0rem;
        margin-right: 0rem;
        margin-bottom: 8rem;
    }

    .projects__categories {
        display: none;
    }

}

@media (width < 640px) {
    .layout__projects,
    .contact__container,
    .stats__container,
    .reviews__grid,
    .clients__container,
    .news__container {
        padding: 0 3rem;
    }

    .layout__services {
        margin: 0 1rem 0 3rem;
    }

    .contact__thumb--chat {
        margin-right: -40rem;
        width: 100%;
    }

    .contact__thumb--laptop {
        bottom: 0;
        left: 0;
    }

    .contact__thumb--mobile {
        bottom: 0;
        right: -16rem;
    }

    .contact__img {
        width: 50%;
    }

    .footer__widget--50 {
        flex-basis: auto;
    }

    .footer__fright {
        flex-direction: column;
    }
}
